In [4]:
# SQLiteに接続
import sqlite3
import pandas as pd

db_path = "../data/imdb_movies.db"
conn = sqlite3.connect(db_path)

# SQLクエリの実行
query = """
SELECT Series_Title, Released_Year, Genre, IMDB_Rating
FROM movies
WHERE IMDB_Rating > 8.0
ORDER BY IMDB_Rating DESC
LIMIT 10;
"""


df = pd.read_sql(query, conn)
conn.close()

# 結果表示
df

,Series_Title,Released_Year,Genre,IMDB_Rating
0,The Shawshank Redemption,1994,Drama,9.3
1,The Godfather,1972,"Crime, Drama",9.2
2,The Dark Knight,2008,"Action, Crime, Drama",9.0
3,The Godfather: Part II,1974,"Crime, Drama",9.0
4,12 Angry Men,1957,"Crime, Drama",9.0
5,The Lord of the Rings: The Return of the King,2003,"Action, Adventure, Drama",8.9
6,Pulp Fiction,1994,"Crime, Drama",8.9
7,Schindler's List,1993,"Biography, Drama, History",8.9
8,Inception,2010,"Action, Adventure, Sci-Fi",8.8
9,Fight Club,1999,Drama,8.8